DATABASE_URL="postgresql://user:password@pgvectordb:5432/database?schema=vectordb&connect_timeout=300"
HOST="0.0.0.0"
PORT="8000"
EMBEDDING__MODEL="litellm_proxy/qwen3-embedding:8b"
EMBEDDING__BASE_URL="http://litellm:4000"
EMBEDDING__DIMENSIONS=3072
S3_HOST=""
S3_REGION=""
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_BUCKET=""
LITELLM_API_KEY="LITELLM_API_KEY_WITH_ADMIN_PRIVS_TO_PERFORM_KEY_LOOKUPS"
